
#space-new
  .container
    .row
      .col-md-8.col-md-offset-2
        .box.box-body-lg
          %form.form-horizontal
            %fieldset
              %h2{:style => "margin-top:0;"} Create A New Space...
              %p First, we need some basic information about your space, then you can start creating plans and adding members.
              %hr/
              %h4 Basic Information
              .form-group
                %label.col-md-3.control-label{:for => ""} Name
                .col-md-9
                  %input.form-control{:id => "", :placeholder => "", :type => "text"}/
              .form-group
                %label.col-md-3.control-label Subdomain
                .col-md-9
                  .input-group
                    %span.input-group-addon https://
                    %input.form-control{:type => "text"}/
                    %span.input-group-addon .membrs.co
              .form-group
                %label.col-md-3.control-label{:for => ""} Address
                .col-md-9
                  %input.form-control{:id => "", :placeholder => "", :type => "text"}/
              .form-group
                %label.col-md-3.control-label{:for => ""} City
                .col-md-9
                  %input.form-control{:id => "", :placeholder => "", :type => "text"}/
              .form-group
                %label.col-md-3.control-label{:for => ""} State / Province
                .col-md-9
                  %input.form-control{:id => "", :placeholder => "", :type => "text"}/
              .form-group
                %label.col-md-3.control-label{:for => ""} Postal Code
                .col-md-4
                  %input.form-control{:id => "", :placeholder => "", :type => "text"}/
              .form-group
                %label.col-md-3.control-label{:for => "select"} Country
                .col-lg-9
                  %select#select.form-control
                    %option 1
                    %option 2
                    %option 3
                    %option 4
                    %option 5
              .form-group
                %label.col-md-3.control-label{:for => "select"} Timezone
                .col-lg-9
                  %select#select.form-control
                    %option 1
                    %option 2
                    %option 3
                    %option 4
                    %option 5
              %h4{:style => "margin-top: 50px;"} Billing Settings
              .form-group
                %label.col-md-3.control-label{:for => "select"} Currency
                .col-lg-9
                  %select#select.form-control
                    %option 1
                    %option 2
                    %option 3
                    %option 4
                    %option 5
              .form-group
                %label.col-md-3.control-label Tax Rate
                .col-md-3
                  .input-group
                    %input.form-control{:type => "text"}/
                    %span.input-group-addon %
              %hr/
              .form-group
                .col-md-12
                  %button.btn.btn-success{:type => "submit"} Create Your Space