.col-md-12.text-center
  .section-coming-soon
    %img{:src => "/img/coming-soon.png", :width => "360px"}
    %h2
      Coming Soon
    %span{:class => "explination"}
      We're still busy building the home page for your space. You will be the first to know as soon as it is available.
