%header.row{style: "margin-top:10px;padding-bottom:0px;border-bottom:3px solid #e1e1e1;padding-left:0;padding-right:0;"}

  .col-xs-3{style: "padding-left:0;"}
    %a{:href => "/"}
      %img{'src' => "/img/Dovetail_v2_logo.png", 'width' => '36'}
      
  .col-xs-6.text-center{style: "padding-top:2px;"}
    %ul#main-menu.list-inline{:style=>"margin-top:15px;font-size:16px;"}
      %li{:class => active_tab("members")}
        - if @space
          %a{:href => space_members_path(@space)}
            %i.fa.fa-users
            %span.hidden-xs
              Members
            
      %li{:class => active_tab("activities")}
        - if @space
          %a{:href => space_activities_path(@space)}
            %i.fa.fa-bolt
            %span.hidden-xs
              Activity
              
      %li{:class => active_tab("insights")}
        - if @space
          %a{:href => space_insights_path(@space)}
            %i.fa.fa-bar-chart
            %span.hidden-xs
              Insights

      %li{:class => active_tab(["spaces", "locations", "admins", "resources", "plans", "integrations", "stripes"])}
        - if @space
          %a{:href => edit_space_path(@space)}
            %i.fa.fa-cog
            %span.hidden-xs
              Settings
            
  .col-xs-3{style: "padding-right:0;"}
    %ul.list-inline.pull-right.pull-none-xsm
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => 'dropdown', 'data-hover' => 'dropdown', 'data-close-others' => 'true'}
          %img.img-rounded{'src' => current_user.gravatar_url(:size =>44, :rating => 'G', :secure => true, :default => 'mm'), 'width' => '44'}
          %i.fa.fa-caret-down
        %ul.dropdown-menu{:style => "right:0;left:auto;"}
          %li
            %a{:href=> edit_user_registration_path}
              %i.fa.fa-user
              Account Settings

          %li.divider
          - spaces = current_user.spaces.order("created_at asc")
          - if spaces.count > 0
            - spaces.each do |s|
              %li
                %a{:href=> space_members_path(s)}
                  - if @space && @space.id == s.id
                    %span{style: "color:green"}
                      &#8226;
                  - else
                    %span{style: "color:#eee"}
                      &#8226;
                  = s.name                        
            %li.divider
          %li
            = link_to("<i class='fa fa-sign-out'></i> Sign out".html_safe,  destroy_user_session_path, :method => :delete)

- if @space
  .row.text-left
    = @space.name
