<% if @need_payment_method -%>
  <div class="container" style="padding-top:25px;">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Your trial has ended</h3>      
      </div>
      <div class="panel-body">
        <p class="lead">
          Please <%= link_to("Add a payment method", new_payment_method_path) -%> your account.
        </p>
      </div>
    </div>
<% end -%>
