%li{:class => active_tab("spaces")}
  = link_to "Space", edit_space_path(@space)
%li{:class => active_tab("locations")}
  = link_to "Locations", space_locations_path(@space)
%li{:class => active_tab("admins")}
  = link_to "Managers", space_admins_path(@space)
