%ul.account-nav{}
  %li{:class => active_tab("registrations")}
    = link_to "Account".html_safe, edit_user_registration_path
  %li{:class => active_tab("payment_methods")}
    = link_to "Billing", payment_methods_path
  %li{:class => active_tab("spaces")}
    = link_to "Add a space", new_space_path
                       
