
Hi,

I'm using <a href="http://dovetail.io">Dovetail</a> to manage members here at <%= @space.name-%>, and I'd like you to co-manage the community with me.

Please use the link below to create an account:

<%= @url -%>


If you have any questions, please let me know.

Thanks,


