
<h2>Temporary Landing Page</h2>

<% if current_user -%>

  <p>You are logged in: <%=link_to("Sign out",  destroy_user_session_path, :method => :delete)-%></p>

  <h4>The following controllers have been implemented:</h4>
  <ul>
    <li>
      <%=link_to "Spaces",  spaces_path -%>
    </li>
  </ul>

<% else -%>
  <p>You are not logged in: Please <%=link_to("Sign In",  new_user_session_path)-%> or  <%=link_to("Sign Up",  new_user_registration_path)-%></p> 
<% end -%>


