/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree . #Not a good idea with this theme
 *
 *= require custom-bootstrap
 *= require evil-icons
 *= stub active_admin
 *= require_self
 */

.command-bar {
    text-align:right;
}

.command-bar > .btn {
  margin-left: 6px;
}

.icon {
    float:left;
    margin-right: 2px;
}

.navbar .nav > li > a .icon {
    fill:#98978b;
}
.navbar .nav > li.active > a .icon {
    fill:#3e3f3a;
}

.navbar .nav > li > a:hover .icon {
    fill:#3e3f3a;
}


table.invoice input, table.invoice input:hover, table.invoice input:focus, table.invoice input:active {
  background: transparent;
  border: 0;
  border-style: none;
  border-color: transparent;
  outline: none;
  outline-offset: 0;
  box-shadow: none;
  padding:0;
  margin:0;
}

.table.invoice > tbody > tr > td {
  padding:0;
  padding-left:5px;
  padding-right:5px;
}

.account-content a:hover {
    text-decoration: none;
}

.help-block {
  font-size: 14px;
}


/* Managers
------------------------------------------*/

#managers .table > thead > tr > th,
#managers .table > tbody > tr > th,
#managers .table > tfoot > tr > th,
#managers .table > thead > tr > td,
#managers .table > tbody > tr > td,
#managers .table > tfoot > tr > td {
  border: none;
}

#managers .table > thead:first-child > tr:first-child > th {
  padding: 0px 8px;
}

#managers .table > tbody > tr > td {
  padding: 4px 8px;
  margin-bottom: 12px;
}

#managers .table > thead > tr > th {
  font-size: 13px;
  text-transform: uppercase;
}

#managers span.owner {
  margin-left: 6px;
  font-size: 10px;
  font-weight: 600;
  color: #bbb;
  text-transform: uppercase;
}


/* Locations
------------------------------------------*/

#locations .table > thead > tr > th,
#locations .table > tbody > tr > th,
#locations .table > tfoot > tr > th,
#locations .table > thead > tr > td,
#locations .table > tbody > tr > td,
#locations .table > tfoot > tr > td {
  border: none;
}

#locations .table > thead:first-child > tr:first-child > th {
  padding: 0px 8px;
}

#locations .table > tbody > tr > td {
  padding: 4px 8px;
  margin-bottom: 12px;
}

#locations .table > thead > tr > th {
  font-size: 13px;
  text-transform: uppercase;
}


/* Plans
------------------------------------------*/

#plans .table {
  margin-bottom: 80px;
}

#plans .table > thead > tr > th,
#plans .table > tbody > tr > th,
#plans .table > tfoot > tr > th,
#plans .table > thead > tr > td,
#plans .table > tbody > tr > td,
#plans .table > tfoot > tr > td {
  border: none;
}

#plans .table > thead:first-child > tr:first-child > th {
  padding: 0px 8px;
}

#plans .table > tbody > tr > td {
  padding: 4px 8px;
  margin-bottom: 12px;
}

#plans .table > thead > tr > th {
  font-size: 13px;
  text-transform: uppercase;
}

/* UserVoice Widget
------------------------------------------*/

.uv-icon .uv-bottom-right {
  bottom: 24px;
  right: 44px;
}