<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.description %></td>
        <td class="text-right">
          <%= link_to 'Edit', edit_space_location_path(@space, location) %>
          <%= link_to 'Destroy', [@space, location], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add New Location', new_space_location_path(@space), class: "btn btn-success" %>
