%h2
  %a{href:"#"}
    = item_type_description(history_item)
    Ref No. #{history_item.id}
  %span was sent to #{history_item.recipient.email} on #{history_item.issue_date.strftime("%B %d, %Y %H:%M")}

